/**
 * @file
 * @author jinguangguo
 * @date 2016/2/18
 */

body {
    color: red;

}

.module-about {
    .img-box {
        width: 105px;
        height: 154px;
        background: url('../img/chuizi.png') no-repeat 0 0;
    }
}